@import url(addProperty.css);
ul, li{
	margin:0;
	padding:0;
}
li{
	float:left;	
}
#addPropertyForm #images li{
	width: 100%;	
}
#addPropertyForm #images li > div{		
	width: 66%;	 
}
#addPropertyForm #images li div > div:first-of-type{
	width: 72%;
}
#addPropertyForm #images div, #addPropertyForm #images input{
	float:left;	
}
#addPropertyForm #images div div{		
	margin: 0px;	
}
#addPropertyForm #facilities li > div:first-of-type, #addPropertyForm #images > div:last-of-type, 
#addPropertyForm #images #addButton, #addPropertyForm #images input:not([type=button]){
	clear:left;
}
#addPropertyForm #images input:not([type=submit]):not([type=button]){
	width: 100%;
}
#addPropertyForm #images .add input{			
	width: 100%;
}
#addPropertyForm #images .remove{
	margin-left: 10px;
}
#addPropertyForm #images .remove input{	
	padding: 5px 1px 5px 1px;
	width: 25px;
}
#addPropertyForm #images{
	height: 53.4%;	
}
#addPropertyForm #images .browse input {	
	color: #666666;
	margin-left: 5px;	
	font-weight: normal;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;	
    background: -webkit-linear-gradient(top, #F6F6F6, #E3E3E3);
    background: -moz-linear-gradient(top, #F6AF3A, #CC6600);
    background: -ms-linear-gradient(top, #F6AF3A, #CC6600);
    background: -o-linear-gradient(top, #F6AF3A, #CC6600);
    background: linear-gradient(top, #F6AF3A, #CC6600);        
    box-shadow: 0 1px 0 0 white inset;           
    text-shadow: 0 -1px 0 #666666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 20px;           
}
#addPropertyForm #images .browse input[type=submit]:active, #addPropertyForm #images .browse input[type=button]:active{
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 10px 5px #CCCCCC inset; 
	-webkit-boxshadow:0 0 10px 5px #CCCCCC inset ;
    -moz-box-shadow: 0 0 10px 5px #CCCCCC inset;
    -ms-box-shadow: 0 0 10px 5px #CCCCCC inset;
    -o-box-shadow: 0 0 10px 5px #CCCCCC inset;
}
